<section class="bg-[#FDFDFD] min-h-screen pb-35">
    <header class="w-full relative">
        <img src="assets/banner-inicio.png" alt="Banner" class="w-full h-72 object-cover" />
        <div class="absolute inset-0 bg-slate-900/55"></div>

        <div class="absolute left-1/2 top-35 transform -translate-x-1/2 -translate-y-1/2 flex flex-col items-center z-10">
            <div class="rounded-full shadow-md">
                <div class="overflow-hidden rounded-full w-26 h-26 md:w-28 md:h-28 bg-gray-100 flex items-center justify-center">
                    <ng-container *ngIf="fotoUsuario; else silhuetaUsuario">
                        <img [src]="fotoUsuario" [alt]="nomeUsuario" class="w-full h-full object-cover object-center block" />
                    </ng-container>
                    <ng-template #silhuetaUsuario>
                        <img src="assets/silueta.jpg" alt="Sem foto" class="w-full h-full object-cover" />
                    </ng-template>
                </div>
            </div>
            <h2 class="mt-2.5 text-2xl md:text-2xl font-regular text-white text-center drop-shadow-md">Olá, {{ nomeUsuario }}</h2>
        </div>
    </header>


    <main class="px-4 pt-0">
        <div class="-mt-6 relative z-10 flex gap-4 items-center justify-center">
            <button class="flex-1 bg-white shadow rounded-xl py-3 px-4 flex items-center gap-3">
                <img src="assets/icones/lupa.svg" alt="Buscar" class="w-5 h-5" />
                <span class="text-slate-600">Buscar carro</span>
            </button>

            <button routerLink="/filtro" class="w-24 bg-white shadow rounded-xl py-3 flex items-center justify-center cursor-pointer">
                <img src="assets/icones/filtro.svg" alt="Filtrar" class="w-5 h-5" />
                <span class="text-slate-600">Filtrar</span> 
            </button>
        </div>


        <section class="mt-8" *ngIf="carrosReservados && carrosReservados.length > 0">
            <h3 class="text-lg font-semibold text-slate-800 mb-4">Últimas reservas</h3>

            <div class="flex gap-4 overflow-x-auto pb-4 no-scrollbar touch-pan-x cursor-grab" appDragScroll>
                <ng-container>
                    <app-card-carro *ngFor="let c of carrosReservados" [carro]="c" [contexto]="'inicio'"></app-card-carro>
                </ng-container>
            </div>
        </section>

        <div class="mt-8" *ngIf="!carregandoReservas && (!carrosReservados || carrosReservados.length === 0)">
            <div class="bg-white rounded-lg p-6 text-center shadow">
                <p class="text-slate-700 mb-4">Você não tem nenhuma reserva, gostaria de fazer uma agora?</p>
                <div class="flex justify-center">
                    <button routerLink="/filtro" class="bg-rose-600 text-white rounded-full px-6 py-3 shadow-lg flex items-center gap-3 cursor-pointer">Reservar agora</button>
                </div>
            </div>
        </div>


        <div class="mt-8 flex justify-center">
            <button class="bg-slate-800 text-white rounded-full px-8 py-4 shadow-lg flex items-center gap-3">
                <img src="assets/icones/qr-code.svg" alt="QR" class="w-6 h-6" />
                <span>Acessar por QR code</span>
            </button>
        </div>
    </main>

    <app-menu></app-menu>
</section>