<article class="bg-white rounded-[10px] shadow-md overflow-hidden flex flex-col">
	<div class="w-full h-44 bg-gray-100 flex items-center justify-center overflow-hidden">
		<div *ngIf="carregando" class="w-full h-full flex items-center justify-center">Carregando...</div>
		<div *ngIf="erro" class="w-full h-full flex items-center justify-center text-red-500">Erro ao carregar</div>

		<ng-container *ngIf="!carregando && !erro">
			<img *ngIf="carro?.imageUrl; else fromAssets" [src]="carro?.imageUrl" [alt]="carro?.name"
				class="w-full h-full object-cover" />

			<ng-template #fromAssets>
				<img *ngIf="carro?.imagem; else placeholder" [src]="'assets/carros/' + carro?.imagem" [alt]="carro?.name"
					class="w-full h-full object-contain" />
			</ng-template>
			<ng-template #placeholder>
				<div class="w-full h-full bg-gray-200 flex items-center justify-center text-gray-400">Sem imagem</div>
			</ng-template>
		</ng-container>
	</div>

	<div class="p-4 flex-1 flex flex-col">
		<h3 class="text-[16px] font-semibold text-slate-800">{{ carro?.name || '-' }} - {{ carro?.year || '' }}</h3>
		<p class="text-sm text-slate-600 mt-2">{{ carro?.type || '-' }}</p>
		<p class="text-sm text-slate-600">Motor {{ carro?.engine || '' }}</p>
		<p class="text-sm text-slate-600">{{ carro?.size ? (carro?.size + ' Lugares') : 'Lugares' }}</p>

		<div class="mt-3">
		  <button *ngIf="carro && contexto !== 'central'" (click)="aoReservar()" class="w-full bg-rose-600 hover:bg-rose-700 text-white py-2 rounded-lg text-sm">
			{{ contexto === 'inicio' ? 'Reservar novamente' : 'Reservar agora' }}
		  </button>

		  <button *ngIf="carro && contexto === 'central'" (click)="aoVerMais()" class="mt-2 w-full bg-[#0f2a35] hover:bg-[#082026] text-white py-2 rounded-lg text-sm">
			  Ver mais
		  </button>
		</div>
	</div>
</article>
