<nav role="navigation" aria-label="Menu principal" class="fixed bottom-4 left-1/2 transform -translate-x-1/2 w-106.75 h-24.5 bg-white shadow-md rounded-none sm:rounded-2xl flex items-center justify-between px-6 z-50">
	<ul class="flex items-center justify-between w-full">
		<li class="flex flex-col items-center gap-1 text-center">
			<button class="flex flex-col items-center gap-1 text-slate-700">
				<img src="assets/icones/home.svg" alt="Início" class="w-6 h-6" />
				<span class="text-[12px] mt-1">INÍCIO</span>
			</button>
		</li>

		<li class="flex flex-col items-center gap-1 text-center">
			<button class="flex flex-col items-center gap-1 text-slate-700">
				<img src="assets/icones/agendamentos.svg" alt="Agendamentos" class="w-6 h-6" />
				<span class="text-[12px] mt-1">AGENDAMENTOS</span>
			</button>
		</li>

		<li class="flex flex-col items-center gap-1 text-center">
			<button class="flex flex-col items-center gap-1 text-slate-700">
				<img src="assets/icones/central.svg" alt="Central" class="w-6 h-6" />
				<span class="text-[12px] mt-1">CENTRAL</span>
			</button>
		</li>

		<li class="flex flex-col items-center gap-1 text-center">
			<button class="flex flex-col items-center gap-1 text-slate-700">
				<img src="assets/icones/perfil.svg" alt="Perfil" class="w-6 h-6" />
				<span class="text-[12px] mt-1">PERFIL</span>
			</button>
		</li>
	</ul>
</nav>

